/* Under Construction Page */
.construction {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

/* Ensure contact page links are white and underlined */
.construction a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .construction {
    margin-left: 50px;
    margin-right: 50px;
  }
}
